.job-status-red td,
.job-status-blue td,
.job-status-disabled td,
.job-status-nobuilt td,
.job-status-red-anime td,
.job-status-blue-anime td,
.job-status-disabled-anime td,
.job-status-nobuilt-anime td {
  position: relative;
}

.job-status-red td:first-of-type img,
.job-status-blue td:first-of-type img,
.job-status-disabled td:first-of-type img,
.job-status-nobuilt td:first-of-type img,
.job-status-red-anime td:first-of-type img,
.job-status-blue-anime td:first-of-type img,
.job-status-disabled-anime td:first-of-type img,
.job-status-nobuilt-anime td:first-of-type img {
  display: none
}

.job-status-red td:first-of-type::before,
.job-status-blue td:first-of-type::before,
.job-status-disabled td:first-of-type::before,
.job-status-nobuilt td:first-of-type::before,
.job-status-red-anime td:first-of-type::before,
.job-status-blue-anime td:first-of-type::before,
.job-status-disabled-anime td:first-of-type::before,
.job-status-nobuilt-anime td:first-of-type::before {
  content: "";
  background-color: red;
  position: absolute;
  width: 7px;
  top: 0px;
  bottom: 0px;
  left: 0px;
}

.job-status-red-anime td:first-of-type::before,
.job-status-blue-anime td:first-of-type::before,
.job-status-disabled-anime td:first-of-type::before,
.job-status-nobuilt-anime td:first-of-type::before {
    animation: heartbeat 1s ease-in infinite;
}

@keyframes heartbeat{
    0% { opacity: 1 }
    50% { opacity: 0 }
    100% { opacity: 1 }
}

.job-status-blue td:first-of-type::before {
  background-color: green;
}

.job-status-disabled td:first-of-type::before,
.job-status-nobuilt td:first-of-type::before {
  background-color: grey;
}


#jenkins-head-icon {
    height: 40px;
}

#header {
    background-color: #FDFDFD;
    height: 40px
}


#jenkins-name-icon {
    display: none;
}

.top-sticker-inner {
    background-color: #E33139;
}

#breadcrumbs {
    border: none !important;
    color: white !important;
}

#breadcrumbs a, footer a {
    color: white !important;
}

#breadcrumbs a:hover {
    color: #505A63 !important;
}

#breadcrumbs LI:hover {
    background-color: white !important;
}

.login a {
    color: #3D4C55 !important;
}

#search-box {
    box-shadow: none !important;
}

footer {
    background-color: #E33139;
    color: white;
}
